<% cache @post do %>
<div style="text-align:center">
  <h1><%= @post.title %></h1>
  <p style="color: #999;font-size: .75em">
    Posted at <%= @post.created_at.to_s :short %>.  
    Category: <em><%= @post.category.name %></em>
  </p>
</div>

<hr/>

<%= simple_format @post.body %>

<h2>Comments</h2>

<% @post.comments.select(&:persisted?).each do |comment| %>
<% cache comment do %>
  <blockquote>
    <%= simple_format comment.body %>
    <small><%= comment.name %>, at <%= comment.created_at.to_s :short %></small>
  </blockquote>
<% end %>

<% unless @post.comments.select(&:persisted?).any? %>
  There are no comments.
<% end %>

<h3>Post a new comment</h3>

<%= render "comments/form" %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<% end %>
