<h1>Edit category</h1>

<%= form_for @category do |f| %>
  <p>
  <%= f.text_field :name %>
</p>

  <p>
    <%= f.collection_check_boxes :post_ids, Post.all, :id, :title do |b| %>
      <%= b.label(:"data-value" => b.value) { b.check_box + " " + b.text } %>
    <% end %>
  </p>

  <%= f.submit %>
<% end %>

<p>
  <%= link_to "Back to list of categories", categories_path %>
</p>
